h1{
    color: blue;
    text-align: center;
}
h2{
    text-align: center;
    
}
p{
    text-align: center;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 30px;
    line-height: 1.6;
}
legend{
    background-color: rgb(3, 3, 60);
    color: white;

}
form{
    font-size:20px ;
    

    
}
footer{
    background-color: rgb(1, 12, 41);
    color: white;
    text-align: center;
}
footer a{
    color: yellow;
    text-decoration: none;
}
::placeholder{
    color: green;
    font-style: italic;
    font-size: 12px;
    
}
